/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {font-family:"Calibre";
  src:url("../fonts/Calibre.woff") format("woff"),
      url("../fonts/Calibre.ttf") format("truetype");
      font-weight:normal;
      font-style:normal;}

/* ------ Special margins and styling -------- */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}


/* ------- Services---------- */
  .services__information {
      width: 100vw;
      position: absolute;
      top: 119px;
  }

  .services__activities {
    width: 93.13vw;
    height: 335px;
    left: 3.12vw;
    position: absolute;
    top: 372.5px;
    overflow-wrap: break-word;
    font-family: Georgia;
    line-height: 27px;
    font-size: 20px;
  }

  .services__image {
    width: 50vw;
    float: right;
    height: 334px;
    left: 50%;
    right: 0%;
    top: 2.41%;
  }

  .services__darken {
    width: 50vw;
    background: #1F2331;
    float: right;
    left: 50%;
    right: 0%;
  }

  .range__header {
    position: absolute;
    height: 29px;
    margin-block-start: 0;
    left: 3.12%;
    top: 33px;
    bottom: 23px;
    line-height: 29px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
  }

  .services__range {
    background: white;
    height: 81px;
    left: -0.31%;
    right: 7.5%;
    top: 65px;
    z-index: 2;
    position: absolute;
    font-family: "Calibre";
    font-size: 45px;
    
    color: #006F3C;
  }

  .services__description {
    position: absolute;
    width: 93.13vw;
    height: 335px;
    left: 3.12%;
    right: 3.75%;

    color: #2F302E;
  }

  .services__explore {
    height: 20px;
    width: 100%;
    top: 401px;
    font-family: "Calibre";
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;

    color: #006F3C;
    top: 365px;
    position: absolute;
  }

  .services__box {
    background: #006F3C;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    left: 43.44vw;
    position: absolute;
    transform: rotate(90deg);
    top: 401px;
  }

  .services__arrow {
    position: absolute;
    top: 17px;
    right: 13px;
  }

  /* ---------------- Investments ---------------- */

  .investments__field {
    width: 100%;
    height: 324px;
    top: 910px;
    position: absolute;
  }

  .investments__image {
    width: 100%;
    top: 21px;
    position: absolute;
  }

  .investments__logo {
    text-align: center;
    position: absolute;
    top: 47px;
    width: 100%;
  }

  .logo__hand {
    width: 78px;
    height: 74.56px;
  }

  .investments__header {
    position: absolute;
    left: 5.62vw;
    right: 2.19%;
    top: 100px;
    height: 166px;
    font-family: "Calibre";

    color: #FFFFFF;
  }

  .investments__agriculture {
    position: absolute;
    line-height: 40px;
    font-size: 40px;
    height: 120px;
    font-weight: bold;
  }

  .investments__years {
    position: absolute;
    top: 200px;
    line-height: 26px;
    font-size: 26px;
  }

  .investments__information {
    position: absolute;
    width: 94.38vw;
    left: 5.62vw;
    background: #006F3C;
    height: 1150px;
    top: 1224px;
  }

  .investments__description {
    top: 350px;
    position: absolute;
    left: 13.75vw;
    right: 5vw;
    font-family: Calibre;
    line-height: 24px;
    font-size: 16px;

    color: #FFFFFF;
  }

  /*-------------------------------Businesses------------------------*/

  .businesses__logo {
    top: 89px;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .businesses__field {
    width: 100%;
    height: 324px;
    position: absolute;
    top: 2390px;
  }  

  .businesses__image {
    width: 100%;
    position: absolute;
  }

  .businesses__information {
    position: absolute;
    width: 94.38vw;
    right: 5.62vw;
    background: #00A84F;
    height: 693px;
    top: 2714px;
  }

  .businesses__description {
    position: absolute;
    height: 283px;
    top: 406px;
    left: 8.12vw;
    right: 11.81vw;
  }

  .businesses__header {
    height: 200px;
    left: 8.12vw;
    top: 136px;
    position: absolute;
    right: 7.81vw;
    font-family: Calibre;
    line-height: 40px;
    font-size: 40px;

    color: #FFFFFF;
  } 

  .businesses__leasing {
    font-family: Calibre;
    line-height: 24px;
    font-size: 16px;

    color: #FFFFFF;
  }

  /*-------------------------------- Land --------------------------------*/

  .land__logo {
    top: 132px;
    position: absolute;
    left: 8.12vw;
  }


  .land__field {
    width: 50vw;
    left: 50%;
    height: 690px;
    position: absolute;
    top: 2290px;
  }  

  .land__image {
    height: 690px;
    width: 50vw;
  }

  .land__information {
    position: absolute;
    width: 50vw;
    background: #ACD025;
    height: 690px;
    top: 2290px;
  }

  .land__description {
    position: absolute;
    height: 283px;
    top: 355px;
    left: 8.12vw;
    right: 6.88vw;
  }

  .land__header {
    height: 200px;
    left: 8.12vw;
    top: 167px;
    position: absolute;
    right: 7.81vw;
    font-family: Calibre;
    line-height: 60px;
    font-size: 60px;

    color: #FFFFFF;
  } 

  .land__investment {
    font-family: Calibre;
    line-height: 24px;
    font-size: 16px;

    color: #FFFFFF;
  }

  /* ----------------------------- Partner -------------------------------*/

  .partner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    top: 2980px;
    position: absolute;
  }

  .partner__logo {
    width: 193px;
    height: 60px;
    text-align: center;
    top: 80px;
    position: absolute;
  }

  .partner__description {
    width: 100%;
    height: 32px;
    text-align: center;
    padding-top: 45px;
    position: absolute;
    font-family: Calibre;
    line-height: 32px;
    font-size: 32px;

    color: #006F3C;
  }
  
  .partner__info {
    padding: 0;
    margin: 0;
  }

  .partner__field {
    overflow-x: hidden;
  }

/* ---------------------------------Media queries -------------------------*/

@media screen and (max-width: 767px) {
  .investments__box, .range__header, .services__darken, .services__image {
    width: 100%;
  }

  .partner, .land__information, .land__field, .land__image {
    width: 100vw;
    left: 0;
  }

  .partner__image {
    width: 193px;
    height: 60px;
  }

  .partner__logo {
    top: 136px;
  }

  .land__field, .land__image {
    height: 324px;
    top: 3406px;
  }

  .land__information {
    top: 3730px;
  }

  .land__logo {
    top: 39px;
    left: 39.38vw;
    right: 33.12vw;
  }

  .land__header {
    top: 176px;
  }

  .land__management {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
  }

  .land__description {
    top: 288px;
  }

  .partner {
    top: 4420px;
    height: 370px;
  }

  .partner__description {
    line-height: 31px;
    font-size: 30px;
    text-align: center;
    height: 62px;
    top: 171px;
    width: 197px;
    bottom: 57px;
    color: #006F3C;
  }

}

@media (min-width: 768px) and (max-width: 2560px) {
  .services__range, .services__information {
    top: 65px;
  }

  .services__range {
    background: none;
    left: 8.68vw;
    width: 56vw;
    right: 35.28vw;
    position: absolute;
  }

  .range__header {
    top: 117px;
  }

  .services__darken, .services__image {
    height: 663px;
  }

  .services__activities {
    top: 0;
    left: 0;
  }

  .services__explore {
    display: none;
  }

  .services__box {
    left: 8.82vw;
    top: 467px;
    width: 53px;
    height: 53px;
  }

  .services__arrow {
    position: absolute;
    top: 22px;
    right: 18px;
  }

  .services__description {
    width: 36.5vw;
    height: 212px;
    top: 209px;
    left: 8.68vw;
    font-family: Georgia;
    line-height: 28px;
    font-size: 22px;
  }

  .investments__logo, .investments__description {
    position: absolute;
    text-align: left;
    left: 8.75vw;
  }

  .investments__logo {
    top: 87px;
  }

  .investments__offers {
    right: 3.41vw;
    position: absolute;
  }

  .investments__agriculture, .investments__years {
    left: 3.13vw;
    position: absolute;
    left: 3.13vw;
  }

  .investments__agriculture {
    top: 21px;
    position: absolute;
  }

  .investments__field {
    top: 724px;
    width: 50vw;
    left: 50%;
  }

  .investments__header {
    height: 120px;
    right: 6.68vw;
  }

  .investments__information {
    float:left;
    width: 50vw;
    position: absolute;
    left: 0;
    top: 722px;
  }

  .investments__image {
    top: -3px;
    position: absolute;
    width: 50vw;
    float: right;
  }

  .investments__information, .investments__field, .investments__image{
    height: 880px;
  }

  .investments__box {
    top: 1690px;
    width: 53px;
    height: 53px;
    background: #006F3C;
    right: 50vw;
    position: absolute;
    transform: rotate(90deg);
    z-index: 1;
  }

  .investments__arrow {
    position: absolute;
    top: 22px;
    right: 18px;
  }

  .businesses__field {
    top: 1600px;
    width: 50vw;
    right: 50%;
    height: 690px;
  }

  .businesses__image {
    height: 690px;
  }

  .businesses__management {
    font-size: 60px;
    line-height: 60px;
    height: 180px;
  }

  .businesses__header, .businesses__description {
    left: 4.03vw;
    right: 4.03vw;
  }

  .businesses__information {
    top: 1600px;
    width: 50vw;
    left: 50%;
    height: 690px;
  }

  .businesses__leasing {
    top: 40px;
    position: absolute;
  }

  .businesses__box {
    top: 2290px;
    width: 53px;
    height: 53px;
    background: #00A84F;
    left: 50vw;
    position: absolute;
    transform: rotate(90deg);
    z-index: 1;
  }

  .businesses__arrow {
    position: absolute;
    top: 22px;
    right: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1340px) {
  .services__box {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 840px) {
  .investments__information, .investments__field, .investments__image {
    height: 1100px;
  }

  .investments__box {
    top: 1790px;
  }

  .services__activities {
    top: -10px;
  }
}

@media (min-width: 840px) and (max-width: 1340px) {
  .investments__information, .investments__field, .investments__image {
    height: 1000px;
  }
}

@media (min-width: 1340px) and (max-width: 2560px) {
  .investments__box {
    top: 1570px;
    position: absolute;
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  .investments__agriculture {
    font-size: 60px;
    line-height: 60px;
  }

  .investments__years {
    top: 240px;
    position: absolute;
  }

  .investments__description {
    top: 394px;
  }
}
