<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/services.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>

    <!-- Navbar-->

    <header class="header">
        <div class="header__container">
            <div class="header__logo logo">
                <a href="index.html">
                    <img class="logo__image" src="../images/logo.png" alt="logo">
                </a>
            </div>
            <div class="header__nav">
                <li class="nav__items">
                    <a href="" class="nav__link">FARMLAND</a>
                    <a href="" class="nav__link">SERVICE RANGE</a>
                    <a href="" class="nav__link">EASTERN EUROPE</a>
                    <a href="" class="nav__link">CONTACT</a>
                    <a href="" class="nav__link">MEDIA</a>
                    <a href="" class="nav__link">IMPRINT</a>
                </li>
            </div>
            <div class="nav__country">
                <span>Deutch</span>
            </div>
            <div class="nav__flag">
                <a href="#">
                    <img src="../images/germany_flag.png" alt="germany-flag" />
                </a>
            </div>
            <div class="nav__toggle">
                <a href="#">
                    <img class="toggle__menu" src="../images/menu.png" alt="toggle-menu" />
                </a>
            </div>
            <div class="nav__box">
                <span class="nav__offers">Offers</span>
                <a href="#">
                    <img class="nav__arrow" src="../images/arrow.png" alt="nav-arrow" />
                </a>
            </div>
        </div>
    </header>
    <hr class="header__line">

    <!-- Services section -->
    <section class="services">
        <div class="services__range">
            <h4 class="range__header">Service Range</h4>
        </div>
        <div class="services__information">
            <div class="services__activities">
                <div class="services__description">
                    <p>The german agrar group provides a wide range of
                        services related to agriculture, including legal advice
                        and support and the management of agricultural
                        businesses and land. In addition, we serve as an agent
                        for clients seeking to purchase or lease agricultural
                        property and/or to hire labour.
                        <br>
                        Our activities are concentrated in Eastern Europe.
                    </p>
                </div>
                <div class="services__explore">
                    <span>Explore our services below</span>
                </div>
                <div class="services__box">
                    <a href="#">
                        <img class="services__arrow" src="../images/arrow.png" alt="services-arrow">
                    </a>
                </div>
            </div>
            <div class="services__darken">
                <img class="services__image" src="../images/agriculture.png" alt="agriculture-image">
            </div>
        </div>
    </section>

    <!--  Investments section -->
    <section>
        <div class="investments">
            <div class="investments__field">
                <a href="#">
                    <img class="investments__image" src="../images/field.png" alt="field-image">
                </a>
            </div>
            <div class="investments__information">
                <div class="investments__logo">
                    <a href="#">
                        <img class="logo__hand" src="../images/hand.png" alt="investments-logo">
                    </a>
                </div>
                <div class="investments__header">
                    <h4 class="investments__agriculture">Direct Investments in Agriculture</h4>
                    <span class="investments__years">+15 years of experience</span>
                </div>
                <div class="investments__description">
                    <p class="investments__experience">
                        Our long experience allow us to assess current conditions accurately and to advise
                        our clients on where and how they can best invest in agriculture.
                    </p>
                    <p class="investments__network">
                        Our extensive network of branch offices under German management provides direct access to local
                        markets. Our comprehensive overview of the region means that we are always aware of changes in
                        local conditions such as increased demand or emerging opportunities in specific areas.
                        The germanagrar group is now one of the most experienced and highly respected companies in
                        the field of capital investments in farmland and agriculture.
                    </p>
                    <p class="investments__offers">
                        The germanagrar group brokers farmland, agricultural businesses and investments all over
                        Central and Eastern Europe. We offer our clients the opportunity to buy farmland directly
                        rather than merely buying shares in investment funds, thus allowing them to make direct
                        investments in agriculture and farming properties and providing them with complete control
                        and transparency.
                    </p>
                </div>
            </div>
            <div class="investments__box">
                <a href="#">
                    <img class="investments__arrow" src="../images/arrow.png" alt="investments-arrow">
                </a>
            </div>
        </div>
    </section>

    <!-- Managing agricultural businesses section -->
    <section>
        <div class="businesses">
            <div class="businesses__field">
                <a href="#">
                    <img class="businesses__image" src="../images/traktor.png" alt="businesses-image">
                </a>
            </div>
            <div class="businesses__information">
                <div class="businesses__logo">
                    <a href="#">
                        <img class="logo__traktor" src="../images/traktor_logo.png" alt="investments-logo">
                    </a>
                </div>
                <div class="businesses__header">
                    <h4 class="businesses__management">Managing Agricultural Businesses - Leasing Land Back</h4>
                </div>
                <div class="businesses__description">
                    <p class="businesses__leasing">
                        Arable farming is one of our core areas of expertise. Our long-standing
                        experience has helped us to optimally adapt farming technology and labour
                        organization to local conditions, enabling us to achieve outstanding results.
                        <br>
                        Apart from managing our own agricultural businesses, we also offer our
                        management services to clients and lease back farmland acquired by investors.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Land management section-->
    <!-- <section>
        <div class="land">
            <div class="land__information">
                <div class="land__logo">
                    <a href="#">
                        <img class="logo__land" src="../images/traktor_logo.png" alt="land-logo">
                    </a>
                </div>
                <div class="land__header">
                    <h4 class="land__management">Managing Agricultural Businesses - Leasing Land Back</h4>
                </div>
                <div class="land__description">
                    <p class="land__investment">
                        Arable farming is one of our core areas of expertise. Our long-standing
                        experience has helped us to optimally adapt farming technology and labour
                        organization to local conditions, enabling us to achieve outstanding results.
                        <br>
                        Apart from managing our own agricultural businesses, we also offer our
                        management services to clients and lease back farmland acquired by investors.
                    </p>
                </div>
            </div>
            <div class="land__field">
                <a href="#">
                    <img class="land__image" src="../images/traktor.png" alt="land-image">
                </a>
            </div>
        </div>
    </section> -->





    <!-- Footer -->
    <footer class="footer">
        <div class="footer__content">
            <span class="footer__terms">Terms and Conditions</span>
            <span class="footer__copyright">@2018. Germanagrar. All rights reserved.</span>
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
</body>

</html>